In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving example_data_cleaning.xlsx to example_data_cleaning.xlsx

In [4]:
import io
data = pd.read_excel(io.BytesIO(uploaded['example_data_cleaning.xlsx']))

data

,TransactionID,ClientID,BirthYear,Amount,Profession,Department,Risk
0,4.0,34985.0,1923.000000,5670.0,manager,78.0,Low
1,16.0,34997.0,1923.000000,2399090.0,developer,78.0,High
2,25.0,35006.0,1923.000000,33050.0,HR,78.0,High
3,12.0,34993.0,1939.142857,23430.0,professor,78.0,Low
4,21.0,35002.0,1939.142857,16770.0,manager,78.0,Low
5,11.0,34992.0,1943.857143,21210.0,researcher,78.0,Medium
6,20.0,35001.0,1943.857143,14550.0,student,78.0,Medium
7,3.0,34984.0,1945.000000,3450.0,student,78.0,Medium
8,19.0,35000.0,1948.571429,12330.0,barmen,78.0,High
9,9.0,34990.0,1953.285714,16770.0,Manager,78.0,Medium
10,8.0,34989.0,1958.000000,14550.0,HR,78.0,High
11,6.0,34987.0,1967.000000,10110.0,Manager,78.0,Medium
12,15.0,34987.0,1967.000000,30090.0,Manager,78.0,Low
13,24.0,34989.0,1967.000000,27870.0,HR,78.0,Medium
14,27.0,35008.0,1967.000000,41930.0,bdm,78.0,Low
15,28.0,35008.0,1967.000000,46370.0,NaN,78.0,High
16,29.0,35008.0,1976.000000,50810.0,NaN,78.0,Medium
17,5.0,34986.0,1978.000000,7890.0,hr,78.0,High
18,17.0,34998.0,1978.000000,7890.0,etudient,78.0,Medium
19,10.0,34991.0,1988.000000,18990.0,BDM,78.0,Low
20,30.0,34991.0,1988.000000,55250.0,BDM,78.0,High
21,18.0,34999.0,1988.000000,10110.0,etudient,78.0,Low
22,23.0,34988.0,1999.000000,25650.0,Manager,78.0,Low
23,14.0,34995.0,1999.000000,27870.0,Hairdresser,78.0,Low
24,26.0,35007.0,1999.000000,37490.0,etudient,78.0,Medium
25,1.0,34982.0,2013.000000,12900.0,Student,78.0,Low
26,2.0,34983.0,2015.000000,1230.0,barmen,78.0,High
27,13.0,34994.0,2017.000000,25650.0,Driver,78.0,Medium
28,22.0,34987.0,NaN,18990.0,sailer,78.0,High
29,7.0,34988.0,NaN,12330.0,Manager,78.0,Medium

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  30 non-null     float64
 1   ClientID       30 non-null     float64
 2   BirthYear      28 non-null     float64
 3   Amount         30 non-null     float64
 4   Profession     28 non-null     object
 5   Department     30 non-null     float64
 6   Risk           30 non-null     object
dtypes: float64(5), object(2)
memory usage: 1.8+ KB

In [8]:
print(data.head())

   TransactionID  ClientID    BirthYear     Amount Profession  Department  \
0            4.0   34985.0  1923.000000     5670.0    manager        78.0
1           16.0   34997.0  1923.000000  2399090.0  developer        78.0
2           25.0   35006.0  1923.000000    33050.0         HR        78.0
3           12.0   34993.0  1939.142857    23430.0  professor        78.0
4           21.0   35002.0  1939.142857    16770.0    manager        78.0

   Risk
0   Low
1  High
2  High
3   Low
4   Low

In [9]:
print(len(data))

30

In [10]:
print(len(data.columns))

7

In [11]:
print(data.size)

210

In [12]:
#I am trying to identify blanks
data.isnull().sum()

TransactionID    0
ClientID         0
BirthYear        2
Amount           0
Profession       2
Department       0
Risk             0
dtype: int64

In [13]:
#What % of data in columns are blank?
data.isnull().sum()*100/len(data)

TransactionID    0.000000
ClientID         0.000000
BirthYear        6.666667
Amount           0.000000
Profession       6.666667
Department       0.000000
Risk             0.000000
dtype: float64

In [14]:
#We make checkpoint on data before moving forward

data1 = data

In [15]:
# drop a column that is not useful
data_dropped = data1.drop("Department", axis=1)

data_dropped

    TransactionID  ClientID    BirthYear     Amount   Profession    Risk
0             4.0   34985.0  1923.000000     5670.0      manager     Low
1            16.0   34997.0  1923.000000  2399090.0    developer    High
2            25.0   35006.0  1923.000000    33050.0           HR    High
3            12.0   34993.0  1939.142857    23430.0    professor     Low
4            21.0   35002.0  1939.142857    16770.0      manager     Low
5            11.0   34992.0  1943.857143    21210.0   researcher  Medium
6            20.0   35001.0  1943.857143    14550.0      student  Medium
7             3.0   34984.0  1945.000000     3450.0      student  Medium
8            19.0   35000.0  1948.571429    12330.0       barmen    High
9             9.0   34990.0  1953.285714    16770.0      Manager  Medium
10            8.0   34989.0  1958.000000    14550.0           HR    High
11            6.0   34987.0  1967.000000    10110.0      Manager  Medium
12           15.0   34987.0  1967.000000    30090.0      Manager     Low
13           24.0   34989.0  1967.000000    27870.0           HR  Medium
14           27.0   35008.0  1967.000000    41930.0          bdm     Low
15           28.0   35008.0  1967.000000    46370.0          NaN    High
16           29.0   35008.0  1976.000000    50810.0          NaN  Medium
17            5.0   34986.0  1978.000000     7890.0           hr    High
18           17.0   34998.0  1978.000000     7890.0     etudient  Medium
19           10.0   34991.0  1988.000000    18990.0          BDM     Low
20           30.0   34991.0  1988.000000    55250.0          BDM    High
21           18.0   34999.0  1988.000000    10110.0     etudient     Low
22           23.0   34988.0  1999.000000    25650.0      Manager     Low
23           14.0   34995.0  1999.000000    27870.0  Hairdresser     Low
24           26.0   35007.0  1999.000000    37490.0     etudient  Medium
25            1.0   34982.0  2013.000000    12900.0      Student     Low
26            2.0   34983.0  2015.000000     1230.0       barmen    High
27           13.0   34994.0  2017.000000    25650.0       Driver  Medium
28           22.0   34987.0          NaN    18990.0       sailer    High
29            7.0   34988.0          NaN    12330.0      Manager  Medium

In [16]:
#we lower cases in column Profession
data_lower = data_dropped.applymap(lambda s:s.lower() if type(s) == str else s)

data_lower

    TransactionID  ClientID    BirthYear     Amount   Profession    Risk
0             4.0   34985.0  1923.000000     5670.0      manager     low
1            16.0   34997.0  1923.000000  2399090.0    developer    high
2            25.0   35006.0  1923.000000    33050.0           hr    high
3            12.0   34993.0  1939.142857    23430.0    professor     low
4            21.0   35002.0  1939.142857    16770.0      manager     low
5            11.0   34992.0  1943.857143    21210.0   researcher  medium
6            20.0   35001.0  1943.857143    14550.0      student  medium
7             3.0   34984.0  1945.000000     3450.0      student  medium
8            19.0   35000.0  1948.571429    12330.0       barmen    high
9             9.0   34990.0  1953.285714    16770.0      manager  medium
10            8.0   34989.0  1958.000000    14550.0           hr    high
11            6.0   34987.0  1967.000000    10110.0      manager  medium
12           15.0   34987.0  1967.000000    30090.0      manager     low
13           24.0   34989.0  1967.000000    27870.0           hr  medium
14           27.0   35008.0  1967.000000    41930.0          bdm     low
15           28.0   35008.0  1967.000000    46370.0          NaN    high
16           29.0   35008.0  1976.000000    50810.0          NaN  medium
17            5.0   34986.0  1978.000000     7890.0           hr    high
18           17.0   34998.0  1978.000000     7890.0     etudient  medium
19           10.0   34991.0  1988.000000    18990.0          bdm     low
20           30.0   34991.0  1988.000000    55250.0          bdm    high
21           18.0   34999.0  1988.000000    10110.0     etudient     low
22           23.0   34988.0  1999.000000    25650.0      manager     low
23           14.0   34995.0  1999.000000    27870.0  hairdresser     low
24           26.0   35007.0  1999.000000    37490.0     etudient  medium
25            1.0   34982.0  2013.000000    12900.0      student     low
26            2.0   34983.0  2015.000000     1230.0       barmen    high
27           13.0   34994.0  2017.000000    25650.0       driver  medium
28           22.0   34987.0          NaN    18990.0       sailer    high
29            7.0   34988.0          NaN    12330.0      manager  medium

In [17]:
# drop columns with less than 5 NA values
data_clean = data_lower.dropna(axis=1, thresh=0)

In [18]:
data_clean

    TransactionID  ClientID    BirthYear     Amount   Profession    Risk
0             4.0   34985.0  1923.000000     5670.0      manager     low
1            16.0   34997.0  1923.000000  2399090.0    developer    high
2            25.0   35006.0  1923.000000    33050.0           hr    high
3            12.0   34993.0  1939.142857    23430.0    professor     low
4            21.0   35002.0  1939.142857    16770.0      manager     low
5            11.0   34992.0  1943.857143    21210.0   researcher  medium
6            20.0   35001.0  1943.857143    14550.0      student  medium
7             3.0   34984.0  1945.000000     3450.0      student  medium
8            19.0   35000.0  1948.571429    12330.0       barmen    high
9             9.0   34990.0  1953.285714    16770.0      manager  medium
10            8.0   34989.0  1958.000000    14550.0           hr    high
11            6.0   34987.0  1967.000000    10110.0      manager  medium
12           15.0   34987.0  1967.000000    30090.0      manager     low
13           24.0   34989.0  1967.000000    27870.0           hr  medium
14           27.0   35008.0  1967.000000    41930.0          bdm     low
15           28.0   35008.0  1967.000000    46370.0          NaN    high
16           29.0   35008.0  1976.000000    50810.0          NaN  medium
17            5.0   34986.0  1978.000000     7890.0           hr    high
18           17.0   34998.0  1978.000000     7890.0     etudient  medium
19           10.0   34991.0  1988.000000    18990.0          bdm     low
20           30.0   34991.0  1988.000000    55250.0          bdm    high
21           18.0   34999.0  1988.000000    10110.0     etudient     low
22           23.0   34988.0  1999.000000    25650.0      manager     low
23           14.0   34995.0  1999.000000    27870.0  hairdresser     low
24           26.0   35007.0  1999.000000    37490.0     etudient  medium
25            1.0   34982.0  2013.000000    12900.0      student     low
26            2.0   34983.0  2015.000000     1230.0       barmen    high
27           13.0   34994.0  2017.000000    25650.0       driver  medium
28           22.0   34987.0          NaN    18990.0       sailer    high
29            7.0   34988.0          NaN    12330.0      manager  medium

In [19]:
# replace na values of specific columns with mean value

data_clean["BirthYear"] = data_clean["BirthYear"].fillna(data_clean["BirthYear"].mean())

In [20]:
data_clean

    TransactionID  ClientID    BirthYear     Amount   Profession    Risk
0             4.0   34985.0  1923.000000     5670.0      manager     low
1            16.0   34997.0  1923.000000  2399090.0    developer    high
2            25.0   35006.0  1923.000000    33050.0           hr    high
3            12.0   34993.0  1939.142857    23430.0    professor     low
4            21.0   35002.0  1939.142857    16770.0      manager     low
5            11.0   34992.0  1943.857143    21210.0   researcher  medium
6            20.0   35001.0  1943.857143    14550.0      student  medium
7             3.0   34984.0  1945.000000     3450.0      student  medium
8            19.0   35000.0  1948.571429    12330.0       barmen    high
9             9.0   34990.0  1953.285714    16770.0      manager  medium
10            8.0   34989.0  1958.000000    14550.0           hr    high
11            6.0   34987.0  1967.000000    10110.0      manager  medium
12           15.0   34987.0  1967.000000    30090.0      manager     low
13           24.0   34989.0  1967.000000    27870.0           hr  medium
14           27.0   35008.0  1967.000000    41930.0          bdm     low
15           28.0   35008.0  1967.000000    46370.0          NaN    high
16           29.0   35008.0  1976.000000    50810.0          NaN  medium
17            5.0   34986.0  1978.000000     7890.0           hr    high
18           17.0   34998.0  1978.000000     7890.0     etudient  medium
19           10.0   34991.0  1988.000000    18990.0          bdm     low
20           30.0   34991.0  1988.000000    55250.0          bdm    high
21           18.0   34999.0  1988.000000    10110.0     etudient     low
22           23.0   34988.0  1999.000000    25650.0      manager     low
23           14.0   34995.0  1999.000000    27870.0  hairdresser     low
24           26.0   35007.0  1999.000000    37490.0     etudient  medium
25            1.0   34982.0  2013.000000    12900.0      student     low
26            2.0   34983.0  2015.000000     1230.0       barmen    high
27           13.0   34994.0  2017.000000    25650.0       driver  medium
28           22.0   34987.0  1968.316327    18990.0       sailer    high
29            7.0   34988.0  1968.316327    12330.0      manager  medium

In [21]:
# drop all rows containing null
data_drop = data_clean.dropna()

data_drop

    TransactionID  ClientID    BirthYear     Amount   Profession    Risk
0             4.0   34985.0  1923.000000     5670.0      manager     low
1            16.0   34997.0  1923.000000  2399090.0    developer    high
2            25.0   35006.0  1923.000000    33050.0           hr    high
3            12.0   34993.0  1939.142857    23430.0    professor     low
4            21.0   35002.0  1939.142857    16770.0      manager     low
5            11.0   34992.0  1943.857143    21210.0   researcher  medium
6            20.0   35001.0  1943.857143    14550.0      student  medium
7             3.0   34984.0  1945.000000     3450.0      student  medium
8            19.0   35000.0  1948.571429    12330.0       barmen    high
9             9.0   34990.0  1953.285714    16770.0      manager  medium
10            8.0   34989.0  1958.000000    14550.0           hr    high
11            6.0   34987.0  1967.000000    10110.0      manager  medium
12           15.0   34987.0  1967.000000    30090.0      manager     low
13           24.0   34989.0  1967.000000    27870.0           hr  medium
14           27.0   35008.0  1967.000000    41930.0          bdm     low
17            5.0   34986.0  1978.000000     7890.0           hr    high
18           17.0   34998.0  1978.000000     7890.0     etudient  medium
19           10.0   34991.0  1988.000000    18990.0          bdm     low
20           30.0   34991.0  1988.000000    55250.0          bdm    high
21           18.0   34999.0  1988.000000    10110.0     etudient     low
22           23.0   34988.0  1999.000000    25650.0      manager     low
23           14.0   34995.0  1999.000000    27870.0  hairdresser     low
24           26.0   35007.0  1999.000000    37490.0     etudient  medium
25            1.0   34982.0  2013.000000    12900.0      student     low
26            2.0   34983.0  2015.000000     1230.0       barmen    high
27           13.0   34994.0  2017.000000    25650.0       driver  medium
28           22.0   34987.0  1968.316327    18990.0       sailer    high
29            7.0   34988.0  1968.316327    12330.0      manager  medium

In [22]:
data_drop.groupby("Profession").nunique()

             TransactionID  ClientID  BirthYear  Amount  Risk
Profession
barmen                   2         2          2       2     1
bdm                      3         2          2       3     2
developer                1         1          1       1     1
driver                   1         1          1       1     1
etudient                 3         3          3       3     2
hairdresser              1         1          1       1     1
hr                       4         3          4       4     2
manager                  7         5          6       6     2
professor                1         1          1       1     1
researcher               1         1          1       1     1
sailer                   1         1          1       1     1
student                  3         3          3       3     2

In [23]:
#We modify content of Profession to get unique job types
data_drop = data_drop.replace('etudient','student', regex=True)
data_drop.groupby("Profession").nunique()

             TransactionID  ClientID  BirthYear  Amount  Risk
Profession
barmen                   2         2          2       2     1
bdm                      3         2          2       3     2
developer                1         1          1       1     1
driver                   1         1          1       1     1
hairdresser              1         1          1       1     1
hr                       4         3          4       4     2
manager                  7         5          6       6     2
professor                1         1          1       1     1
researcher               1         1          1       1     1
sailer                   1         1          1       1     1
student                  6         6          6       6     2

In [24]:
data_drop

    TransactionID  ClientID    BirthYear     Amount   Profession    Risk
0             4.0   34985.0  1923.000000     5670.0      manager     low
1            16.0   34997.0  1923.000000  2399090.0    developer    high
2            25.0   35006.0  1923.000000    33050.0           hr    high
3            12.0   34993.0  1939.142857    23430.0    professor     low
4            21.0   35002.0  1939.142857    16770.0      manager     low
5            11.0   34992.0  1943.857143    21210.0   researcher  medium
6            20.0   35001.0  1943.857143    14550.0      student  medium
7             3.0   34984.0  1945.000000     3450.0      student  medium
8            19.0   35000.0  1948.571429    12330.0       barmen    high
9             9.0   34990.0  1953.285714    16770.0      manager  medium
10            8.0   34989.0  1958.000000    14550.0           hr    high
11            6.0   34987.0  1967.000000    10110.0      manager  medium
12           15.0   34987.0  1967.000000    30090.0      manager     low
13           24.0   34989.0  1967.000000    27870.0           hr  medium
14           27.0   35008.0  1967.000000    41930.0          bdm     low
17            5.0   34986.0  1978.000000     7890.0           hr    high
18           17.0   34998.0  1978.000000     7890.0      student  medium
19           10.0   34991.0  1988.000000    18990.0          bdm     low
20           30.0   34991.0  1988.000000    55250.0          bdm    high
21           18.0   34999.0  1988.000000    10110.0      student     low
22           23.0   34988.0  1999.000000    25650.0      manager     low
23           14.0   34995.0  1999.000000    27870.0  hairdresser     low
24           26.0   35007.0  1999.000000    37490.0      student  medium
25            1.0   34982.0  2013.000000    12900.0      student     low
26            2.0   34983.0  2015.000000     1230.0       barmen    high
27           13.0   34994.0  2017.000000    25650.0       driver  medium
28           22.0   34987.0  1968.316327    18990.0       sailer    high
29            7.0   34988.0  1968.316327    12330.0      manager  medium